@import "./themes.css";

.gbs_pointer {
  cursor: pointer;
}

.gbs_unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.background, .gbs_board td.gbs_lht, .gbs_board td.gbs_lhb, .gbs_board td.gbs_lvl, .gbs_board td.gbs_lvr, .gbs_board td.gbs_top_left, .gbs_board td.gbs_top_right, .gbs_board td.gbs_bottom_left, .gbs_board td.gbs_bottom_right {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

table.gbs_board {
  border-style: none;
  border: solid black 0px;
  border-spacing: 0;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 9pt;
  display: inline-block;
  vertical-align: top;
  line-height: normal;
  color: black;
}

.gbs_board td {
  margin: 0;
  padding: var(--cell-padding);
  border: var(--cell-border);
  width: 30px;
  height: 30px;
}

.gbs_board td.gbs_lv {
  /* labels at the side */
  text-align: center;
  vertical-align: middle;
  border-style: none;
  border: solid black 0px;
  color:var(--border-number-color);
  background: var(--border-color);
  width: 15px;
}

.gbs_board td.gbs_lh {
  /* labels at the top / bottom */
  text-align: center;
  vertical-align: middle;
  border-style: none;
  border: solid black 0px;
  color:var(--border-number-color);
  background: var(--border-color);
  height: 15px;
}

.gbs_board td.gbs_lx {
  /* corner */
  border-style: none;
  border: solid black 0px;
  color:var(--border-number-color);
  background: var(--border-color);
  width: 15px;
  height: 15px;
}

.gbs_board td.gbs_top_left {
  -webkit-border-top-left-radius: 10px;
  -moz-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
}

.gbs_board td.gbs_top_right {
  -webkit-border-top-right-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

.gbs_board td.gbs_bottom_left {
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.gbs_board td.gbs_bottom_right {
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.gbs_boom, .gbs_boom::after {
  content: url(https://user-images.githubusercontent.com/1631752/37945593-54b482c0-3157-11e8-9f32-bd25d7bf901b.png);
}

.container {
  display: grid;
  width: 30px;
  height: 100%; 
  position: relative;
}

.panel{
  left:50%;
  font-weight: bold;

}

.board{
  grid-column: 1;
  grid-row: 2
}

.arrow-img{
  width: 50px;
  height: auto;
}

.arrow-img-left{
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg); 
  -o-transform:rotate(180deg);
}

.top-arrow-img-up{
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg); 
  -o-transform:rotate(90deg);
}

.top-arrow-img-down{
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg); 
  -o-transform:rotate(270deg);

}
.right-arrow-button{
  position: relative;
  top : 50%;
}

.wrapper{
  clear: left;
  float: left; 
  position: relative; 
  left: 50%;
  min-width: 120px;
}

.top-arrow-button{
  display: block; 
  float: left; 
  position: relative; 
  right: 50%;
}

.arrow-button{
  opacity: 0.2;
  border:none;
  background: transparent;
}
.arrow-button:hover{
  opacity: 8;
}

.right-arrows{
  grid-column: 2;
  grid-row: 2;
  align-self: center
}

.top-arrows{
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}  

.input-size:focus{
  outline: none;
}

.input-size{
  width:30px;
  text-align: center;
  border: none;
  box-shadow: none;
  background: transparent;
  padding-left: 2px;
  padding-right: 2px;
  border-bottom: 1.5px solid blue;

}

/*# sourceMappingURL=style.css.map */

    